<header>
    <!-- Menu -->
    <nav id="menu">
        <a href routerLink="">home</a>
        <a href routerLink="pag1">Pág01</a>
        <a href routerLink="pag2">Pág02</a>
        <a href routerLink="pag4">Pág04</a>
    </nav>
    <!-- LOGO -->
    <div class="Logo"><img src="./assets/img/LOGO.png" alt="Logo Game Mania"></div>
     <div class="Lupa"><img src="./assets/img/lupa.png" alt="Logo Lupa">
    <!-- Pesquisa   -->
        <input type="text" name="Pesquisa">
    </div>      
</header> 
  <style>
        input[type=text]{
            width: 450px;
        }
 </style>

<div class="Jogos"><h2><b>Jogos para XBOX</b></h2></div>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<div class="Games">
    <figcaption><figure> <img src="./assets/img/Formula 1 2021 xbox.png" alt="Logo Jogo Fórmula 1 2021 xbox"/> <figcaption> <b>Fórmula 1 2021 Standard Edition Electronic Arts Xbox - R$ 237,00</b> </figcaption> </figure>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <figcaption><figure> <img src="./assets/img/NBA2K21.png" alt="Logo Jogo NBA 2K21 Xbox"/> <figcaption> <b>NBA 2K21 - XBOX - R$ 14,99</b> </figcaption> </figure>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <figcaption><figure> <img src="./assets/img/NeedForSpeedxbox.png" alt="Logo Jogo Need For Speed Xbox"/> <figcaption> <b>Need for Speed - XBOX - R$ 16,50</b> </figcaption> </figure>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <figcaption><figure> <img src="./assets/img/ProEvolutionSoccer2018xbox.png" alt="Logo Jogo Pro Evolution Soccer 2018 Xbox"/> <figcaption> <b>Pro Evolution Soccer 2018 - XBOX - R$ 75,00</b> </figcaption> </figure>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <figcaption><figure> <img src="./assets/img/UFC3.png" alt="Logo Jogo UFC 3"/> <figcaption> <b>UFC 3 - XBOX - R$ 55,79</b> </figcaption> </figure>

<!-- Rodapé -->
<footer>

    <div style="float:left">
        <h5><b>Entre em contato</b></h5>
        <h5><b>Telefones:</b></h5>
        <h5><b>E-mail:gamemania@contato.com.br</b></h5>    
    </div>
      <br><br><br><br><br>
    <div>
        <a href="#"><img src="./assets/img/whatsapp.png" alt="Logo whatsapp"></a><br><br>
        <a href="#"><img src="./assets/img/instagram.png" alt="Logo Instagram"></a><br><br>
        <a href="#"><img src="./assets/img/facebook.png" alt="Logo Facebook"></a><br><br>
        <a href="#"><img src="./assets/img/youtube.png" alt="Logo youtube"></a>
    </div><br>
    <div style="float:left">
        <h5><b>Nosso Endereço:</b></h5><br>
        <h5><b>Rua Santa Ifigênia, 320 - loja 23 Cep.: 01207-000 - Santa Ifigênia - Centro - São Paulo - SP</b></h5>
    </div>
    
</footer>
<!-- Conexão com o javascript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
